a{
	color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}
#header-top {
    background-color: #446084;
    height: 30px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.8);
    width: 100%;
}
.header-top__intro {
    padding: 0;
    height: 30px;
}
.header-top__intro li {
    cursor: pointer;
    width: 25%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    transition: background-color 0.3s;
}

.header-top__intro li:hover {
    color: white;
}
.header-top__email {
    border: 1px solid white;
    border-radius: 99px;
    height: 23px;
    line-height: 23px;
    padding: 0 10px;
}
.header-top__service:hover {
    background-color: cornflowerblue;
}

.header-top__service a {
    color: white;
}
.header-top__social {
    padding: 0 1.5%;
    font-size: 16px;
}
/* main */
.header-main {
    height: 100px;
}
.header-list-menu > li {
    height: 100px;
    padding-right: 15px;
    line-height: 100px;
    opacity: 0.5;
}
.header-list-menu > li:hover {
    cursor: pointer;
    opacity: 1;
}
.bg-color {
    width: 100%;
    height: calc(100vh + 97px);
    background-color: #0000008c;
    position: fixed;
    z-index: 999;
    left: -100%;
    top: -35px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
/*navbar styling starts*/
.side-bar {
    border-left: 0px;
    position: absolute;
    height: calc(100vh + 97px);
    background-color: grey;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 50%);
    overflow-y: hidden;
}
.side-bar-content {
    margin-top: 35px;
    width: 100%;
}
.side-bar-item li {
    list-style: none;
    height: 50px;
    padding: 0 30px;
    line-height: 50px;
    border-top: 1px solid black;
}

.side-bar-left {
    left: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
/* masthead */
.list-masthead-item li{
    font-size: 13px;
    cursor: pointer;
}
.masthead-mobile {
    position: fixed;
    top: 30px;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 8px 7px -11px #000;
    -webkit-box-shadow: 0px 8px 7px -11px #000;
    z-index: 999;
}

.hotline-bar {
    position: fixed;
    bottom: 20%;
    z-index: 999999;
}
@keyframes fade {
    to {
        transform: scale(2);
        opacity: 0;
    }
}

/* footer-widget */
.footer-widget{
    width: 100%;
    height: auto;
    padding: 30px 0;
}


.footer-text{
    width: 100%;
    background-color: rgb(74, 74, 74);
    padding: 10px 0;
    color: rgba(255,255,255,.5);
}
.footer-text span{
    padding-right: 10px;
}



@media (min-width: 768px) and (max-width: 991px) {
    .container{
        width: 90% !important;
    }
    *{
        font-size: 13px !important;
    }
}
@media screen and (max-width: 575px) {
    .container{
        width: 90% !important;
    }
    .masthead-tablet{
        display: none;
    }
      /* .hamburger-icon {
        background: transparent;
        border: transparent;
        font-size: 26px;
        line-height: 30px;
      }
      .hamburger-icon:hover {
        cursor: pointer;
      } */
}